/*==========================Heading==========================*/
.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header-navbar {
    display: flex;
    justify-content: space-between;
}

.header-navbar__list {
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
}

.header-navbar__item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header-navbar__item-qr:hover .header-navbar__QR {
    display: block;
}

.header-navbar__notify:hover .header-notify {
    display: block;
}

.header-navbar__icon-link {
    color: var(--white-color);
    text-decoration: none;
    margin-top: -4px;
}

.header-navbar__item,
.header-navbar__item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header-navbar__item,
.header-navbar__item-link, 
.header-navbar__icon-link {
    display: inline-flex;
    align-items: center;
}

.header-navbar__item:hover,
.header-navbar__icon-link:hover,
.header-navbar__item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header-navbar__item--strong {
    font-weight: 500;
}

.header-navbar__item--border::after {
    content: "";
    display: block;
    position: absolute;
    border-right: #fb9086 1px solid;
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header-navbar_icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header-navbar__item--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/*==========================QR link==========================*/
.header-navbar__QR {
    width: 185px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header-navbar__QR::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 8%;
    left: 0;
    right: 0;
    top: -10px;
}

.header-navbar__QR-img {
    width: 100%;
}

.header-navbar__app {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.header-navbar__app-link {
    height: 16px;
}

/*==========================Notify==========================*/
.header-notify {
    position: absolute;
    top: 120%;
    width: 404px;
    background-color: var(--white-color);
    right: 0;
    border: 1px #D3D3D3 solid;
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotify ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}

.header-notify::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 5px;
    top: -30px;
    border-width: 20px 30px;
}

.header-notify::after {
    content: "";
    position: absolute;
    display: block;
    width: 90px;
    height: 20px;
    right: 0;
    top: -10px;
}

@keyframes headerNotify {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.header-notify_header {
    height: 40px;
    background-color: var(--white-color);
}

.header-notify_header h3 {
    color: #aeaeae;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    width: 100%;
    user-select: none;
    cursor: text;
}

.header-notify_list {
    padding-left: 0;
}

.header-notify_item {
    display: flex;
}

.header-notify_item:hover {
    background-color: #cfcfcf;
}

.header-notify_item--viewed {
    background-color: var(--primary-color-fade);
}

.header-notify_item-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
    width: 100%;
}

.header-notify_item-img {
    width: 48px;
    object-fit: contain;
    display: flex;
    
}

.header-notify_item-info {
    margin-left: 12px;
}

.header-notify_item-name {
    display: block;
    font-size: 1.4rem;
    margin: 5px 0;
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.8rem;
}

.header-notify_item-description {
    display: block;
    font-size: 1.2rem;
    margin: 5px 0;
    color: #767676;
    line-height: 1.6rem;
}

.header-notify__footer {
    text-align: center;
}

.header-notify__footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
}

/*==========================Authentic Form==========================*/
.auth-form {
    width: 500px;
}

.auth-form__container {
    padding: 0 32px;
    padding-top: 10px;
}

.auth-form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form-header__heading {
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form-header__switch-btn {
    font-weight: 500;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

.auth-form-header__content {
}

.auth-form__input {
    margin-top: 16px;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 1.2rem;
    color: var(--text-color);
    border: var(--border-color) solid 1px;
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #767676;
}

.auth-form__aside {
    margin-top: 18px;
    padding: 0 8px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
}

.auth-form_policy-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__control {
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control--space-right {
    margin-right: 8px
}

.auth-form__contact {
    background-color: #ececec;
    padding: 8px 32px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__contact--facebook {
    background-color: #4267B2;
    color: var(--white-color);
}

.auth-form__contact--google {
    color: var(--text-color);
}

.auth-form__contact--title {
    width: 100%;
    text-align: center;
}





.header-navbar__login-form {
    top: -3px;
}